/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 62.5%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Poppins', sans-serif;
    color: #666666;
    background-color: #f3f3f3;
    overflow-x: hidden;

}

html {
    font-size: 62.5%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;

}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;

}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-size: inherit; */
    font-weight: 400;
}

/* ======================TECH CONTAINERS============================ */

:root {
    --color-primary: #5ec576;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

._container {
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
    margin: auto;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.wrapper {
    min-height: 100vh;
    max-width: 90%;
    margin: auto;
}

.section--hidden {
    opacity: 0;
    transform: translateY(5rem);
}

.lazy-img {
    filter: blur(10px);
}

/* -------------------------------------Bankist app DOM-------------- */

/* ========================================HEADER =================== */
.header {
    display: flex;
    background-color: transparent;
    height: 75px;
    justify-content: center;
    margin: 10px 0px;
    color: #444;


}

.header__column--1 {
    display: flex;
    flex: 50% 1 1;
    align-items: center;
    font-size: 30px;
    font-weight: 300;



}

.logo__container {}

.logo__container img {
    height: 45px;
}


.header__column--2 {
    flex: 50% 1 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;

}

.col--2__flex {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    padding: 15px 20px;
}

.col--2__flex--1:hover {
    transform: scale(1.1) translateY(-0.2rem);
}

.col--2__flex--2:hover {
    transform: scale(1.1) translateY(-0.2rem);
}

.col--2__flex--3:hover {
    transform: scale(1.1) translateY(-0.2rem);
}

.col--2__flex--4 {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
    border-radius: 25px;
}



/* ======================================== INTRO ================================= */

.section {
    margin: 90px;
    padding-bottom: 130px;
    position: relative;
    transition: all 1s;
}

.intro {
    display: flex;
}

.section::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0px;
    left: -50%;
    width: 200%;
    height: 0.5px;
    background-color: rgb(234, 232, 232);
}

.intro__column--1 {
    flex: 60% 1 1;
}

.intro__title {
    color: #444;
}

.intro__title h2 {
    font-size: 55px;
    font-weight: 600;
    line-height: 95px;
}

.highlight {
    position: relative;
    z-index: 1;

}

.highlight::after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.7;
    background-image: var(--gradient-primary);
    transform: scale(1.05, 1.07) skewX(-15deg);
}

.intro__subtitle {
    margin: 45px 0;
    font-size: 24px;
    color: #444;

}

.intro__subtitle h3 {
    font-weight: 400;
    line-height: 4rem;
}

.intro__link {
    position: relative;
    color: #444;
    font-size: 17px;
    color: var(--color-primary);
    font-weight: 500;
}

.intro__link::after {
    position: absolute;
    content: '';
    height: 0.5px;
    background-color: var(--color-primary);
    width: 100%;
    left: 0;
    bottom: -3px;
}

.intro__column--2 {
    flex: 40% 1 1;
}

.intro__column--2 img {
    width: 100%;
    object-fit: cover;
    z-index: 1;
    transform: translateY(-50px);
}

@media (max-width: 969px) {
    .section {
        margin: 90px 30px;
    }
}

@media (max-width: 800px) {
    .intro__column--2 img {
        transform: translate(-35px, 0px)
    }

    .section {
        margin: 90px 0;
    }

}

@media (max-width: 696px) {
    .intro__column--2 {
        display: none;
    }

    .intro__column--1 {
        flex: 1 1 100%;
    }


}


@media (max-width: 550px) {

    .intro__title h2 {
        font-size: 40px;
        text-align: center;
    }

    .intro__subtitle {

        font-size: 18px;
        text-align: center;

    }

    .intro__link {
        font-size: 16px;
        text-align: center;
    }

    .section {
        margin: 90px 30px 0 30px;
    }
}

/* ============================Section FEATURES===================== */



.features {
    padding-top: 50px;
}

.section__grid--container {
    display: grid;
    grid-template: minmax(20px, 40px) minmax(105px, auto) 1fr / 1fr 1fr;
    grid-template-areas: 'title title' 'subtitle subtitle' 'content content';

}

.features__grid--container {}

.section__title {
    font-size: 18px;
    color: #5ec576;
    grid-area: title;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.3px;
}

.section__title h2 {
    font-weight: 700;

}

.section__subtitle,
.section__subtitle h3 {
    font-size: 40px;
    color: #444444;
    grid-area: subtitle;
    font-weight: 500;
    line-height: 50px;
    margin-bottom: 40px;
}

.features__content--container {
    grid-area: content;
}

.features__flex--container {
    display: flex;
    min-height: 350px;
    margin-bottom: 35px;

}

.features__flex--container-reverse {
    flex-direction: row-reverse;
}

.features__flex--columns {
    margin: 0 35px;
}

.features__img--container {
    position: relative;
    flex: 1 1 50%;


}

.features__img--container img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    object-fit: cover;

}

.features__content {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-self: center;

}

.features__icon--container {
    width: 30px;
    height: 30px;
    margin-bottom: 35px;

}

.features__icons {
    font-size: 30px;
    color: #5EC576;
    background-color: #D1E9D7;
    padding: 15px;
    margin-top: -15px;
    border-radius: 50%;

}

.features__content--title {

    margin-bottom: 35px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: 30px;
    color: #444444;
}

.features__content--subtitle {
    flex: 1 1 auto;
    font-size: 15px;
    letter-spacing: 0.7px;
    line-height: 35px;
    font-weight: 100;
}

@media (max-width: 596px) {
    .features__flex--container {
        flex-direction: column;

    }

    .features__img--container {
        margin-bottom: 250px;
    }

    .features__flex--columns {
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .features__icons {
        transform: translateX(-50%);
    }

}


/* ===================OPERATIONS SECTION============================ */


.operations {}




.section__title {}

.section__subtitle {}

.operations__content--container {
    margin: 120px auto;
    width: 90%;
    background-color: #ffffff;
    padding: 10px 50px 60px 50px;
    box-shadow: 1px 1px 1px 1px rgb(228, 228, 228);
}

.operations__tab--container-grid {
    display: grid;
    margin: 0 auto;
    grid-template: 1fr / repeat(3, 1fr);
    justify-items: center;
    width: 80%;
    transform: translateY(-35px);
    column-gap: 10px;
}



.operations__tab {
    display: flex;
    color: #000000;
    padding: 14.5px 40px;
    border-radius: 40px;
    transition: all 1s;
    justify-content: center;
    align-items: center;
}


.operations__tab h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}


.operations__tab--active {
    transform: translateY(-10px);

}



.operations__tab-1 {
    background-color: #FFCB03;
}

.oper__tab--no {
    margin: 0 10px 0 0;
}

.oper__tab--text {
    font-weight: 500;
}

.operations__tab-2 {
    background-color: #5EC576;
}

.operations__tab-3 {
    background-color: #FF585F;
}

/*  ------------------------------------------Hover on tabs animation */
.operations__tab-1:hover {
    background-color: #e3b704;
}

.operations__tab-2:hover {
    background-color: #46a05b;
}

.operations__tab-3:hover {
    background-color: #d44a51;
}

.operations__content--container-grid {
    display: none;
}

.operations__content--container-grid-1 {}

.operations__icon--container {
    grid-column: 1;
    justify-self: center;
    align-self: center;
}

.fa-arrow-up-from-bracket {}

.operations__icon {
    color: #FFBB00;
    padding: 20px;
    font-size: 27.5px;
    background-color: #FFF5CF;
    border-radius: 50%;
}

.operations__title--container {
    grid-column: 2;
}

.operations__title {
    color: #444444;
    font-size: 24.5px;
    font-weight: 500;
    line-height: 1.9;
}

.operations__subtitle--container {
    grid-column: 2;
}

.operations__subtitle,
.operations__subtitle h3 {
    color: #666;
    font-weight: 300;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: 0.2px;
}

.operations__content--container-grid-2 {}

.operations__content--container-grid-3 {}

.operations__content--container-grid--active {
    display: grid;
    grid-template: minmax(70px, 120px) 1fr / 70px 1fr;
    align-items: center;
    row-gap: 10px;
    column-gap: 35px;
    width: 90%;
    margin: 0 auto;


}


/* ===================TESTIMONIAL (SLIDER) SECTION============================ */


.testimonials {}

.section {}


.testimonials__container {
    margin: 70px auto;
    width: 90%;
}

.testimonials__slider {
    position: relative;
    max-width: 100rem;
    height: 40rem;
}

.testimonial__slide {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 100%;
}


.slide__content {
    position: relative;
}

.slide__content::before {
    content: "\201C";
    position: absolute;
    font-size: 10rem;
    font-weight: 700;
    color: var(--color-primary);
    top: -3rem;
    left: -7rem;
}

.slide__title,
.slide__title h3 {
    font-size: 2.25rem;
    color: #444444;
    letter-spacing: 1.9;
    font-weight: 500;
    margin: 0 0 15px 0;
}

.slide__quote,
.slide__quote span {
    color: #666666;
    font-size: 1.7rem;
    line-height: 1.9;
    margin: 0 0 35px 0;

}

.slide__author_grid {
    display: grid;
    grid-template: repeat(2, 32.5px) / 75px 1fr;
    column-gap: 1.5rem;
    align-items: center;
}

.author__img_container {
    position: relative;
    width: 75px;
    height: 75px;
    grid-row: 1 / span 2;


}

.author__img_container img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 50%;
}

.author__name_container {
    grid-column: 2;
}

.author__info_container {
    grid-column: 2;
    grid-row: 2;
}

.testimonial__slide--1 {}

.testimonial__slide--2 {}

.testimonial__slide--3 {}

/* ----------------------Slider tech elements   */


.slider__btn {
    position: absolute;
    font-size: 3rem;
    padding: 1.3rem;
    background-color: #fbfbfb;
    border-radius: 50%;
    top: 30%;
    transform: translateY(-50%);

}

.slider__btn--1 {
    right: 0;
}

.slider__btn--2 {
    left: 0;
}

.slider__dots--container {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.slider__dot {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: #cacaca;
    margin: 0 0 0 1.2rem;
}

.slider__dot--1 {}

.slider__dot--2 {}

.slider__dot--3 {}