/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Poppins', sans-serif;
    color: #666666;
    font-size: 15px;
    background-color: #f3f3f3;
    overflow-x: hidden;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;

}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;

}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* ======================TECH CONTAINERS============================ */

:root {
    --color-primary: #5ec576;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

._container {
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
    margin: auto;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.wrapper {
    min-height: 100vh;
    max-width: 90%;
    margin: auto;
}

/* --------------------------------------------------------------------Bankist app DOM --------------------------------------------------------------------------- */

/* ========================================HEADER =================== */
.header {
    display: flex;
    background-color: transparent;
    height: 75px;
    justify-content: center;
    margin: 10px 0px;
    color: #444;


}

.header__column--1 {
    display: flex;
    flex: 50% 1 1;
    align-items: center;
    font-size: 30px;
    font-weight: 300;



}

.logo__container {}

.logo__container img {
    height: 45px;
}


.header__column--2 {
    flex: 50% 1 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;

}

.col--2__flex {
    justify-content: center;
    align-items: center;
    font-size: 17px;
    padding: 15px 20px;
}

.col--2__flex--1 {}

.col--2__flex--2 {}

.col--2__flex--3 {}

.col--2__flex--4 {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
    border-radius: 25px;
}

/* ========================================INTRO =================== */

.section {
    margin: 90px;
    padding-bottom: 130px;
    position: relative;
}

.intro {
    display: flex;
}

.section::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0px;
    left: -50%;
    width: 200%;
    height: 0.5px;
    background-color: rgb(234, 232, 232);
}

.intro__column--1 {
    flex: 60% 1 1;
}

.intro__title {
    font-size: 55px;
    color: #444;
}

.intro__title h2 {
    font-weight: 600;
    line-height: 65px;
}

.highlight {
    position: relative;
    z-index: 1;

}

.highlight::after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.7;
    background-image: var(--gradient-primary);
    transform: scale(1.05, 1.07) skewX(-15deg);
}

.intro__subtitle {
    margin: 45px 0;
    font-size: 24px;
    color: #444;

}

.intro__subtitle h3 {
    font-weight: 400;

}

.intro__link {
    position: relative;
    color: #444;
    font-size: 17px;
    color: var(--color-primary);
    font-weight: 500;
}

.intro__link::after {
    position: absolute;
    content: '';
    height: 0.5px;
    background-color: var(--color-primary);
    width: 100%;
    left: 0;
    bottom: -3px;
}

.intro__column--2 {
    flex: 40% 1 1;
}

.intro__column--2 img {
    width: 100%;
    height: auto;
    z-index: 1;

    transform: translateY(-50px);
}


/* ============================Section FEATURES===================== */



.features {
    padding-top: 50px;
}

.features__grid--container {
    display: grid;
    grid-template: minmax(20px, 40px) minmax(105px, auto) 1fr / 1fr 1fr;
    grid-template-areas: 'title title' 'subtitle subtitle' 'content content';

}

.features__section--title {
    font-size: 18px;
    color: #5ec576;
    grid-area: title;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.3px;
}

.features__section--title h2 {
    font-weight: 700;

}

.features__section--subtitle,
.features__section--subtitle h3 {
    font-size: 40px;
    color: #444444;
    grid-area: subtitle;
    font-weight: 500;
    line-height: 50px;
    margin-bottom: 40px;
}

.features__content--container {
    grid-area: content;
}

.features__flex--container {
    display: flex;
    min-height: 350px;
    margin-bottom: 35px;


}

.features__flex--container-reverse {
    flex-direction: row-reverse;
}

.features__flex--columns {
    margin: 0 35px;
}

.features__img--container {
    position: relative;
    flex: 1 1 50%;


}

.features__img--container img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    object-fit: cover;

}

.features__content {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-self: center;

}

.features__icon--container {
    width: 30px;
    height: 30px;
    margin-bottom: 35px;

}

.features__icons {
    font-size: 30px;
    color: #5EC576;
    background-color: #D1E9D7;
    padding: 15px;
    margin-top: -15px;
    border-radius: 50%;

}

.features__content--title {

    margin-bottom: 35px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: 30px;
    color: #444444;
}

.features__content--subtitle {
    flex: 1 1 auto;
    font-size: 15px;
    letter-spacing: 0.7px;
    line-height: 35px;
    font-weight: 100;
}