/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Poppins', sans-serif;
    color: #666666;
    font-size: 15px;
    background-color: #fafafa;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;

}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;

}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* ======================TECH CONTAINERS============================ */


._container {
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
    margin: auto;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.wrapper {
    min-height: 100vh;
}

/* --------------------------------------------------------------------Bankist app DOM --------------------------------------------------------------------------- */

/* ========================================HEADER =================== */
.header {
    display: flex;
    background-color: transparent;
    height: 75px;
    justify-content: center;
    margin: 0 80px;
    color: #444;
}

.header__column--1 {
    display: flex;
    flex: 50% 1 1;
    align-items: center;
    font-size: 30px;
    font-weight: 300;



}

.logo__container {}

.logo__container img {
    height: 45px;
}


.header__column--2 {
    flex: 50% 1 1;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.col--2__flex {

    font-size: 17px;
    padding: 15px 20px;
}

.col--2__flex--1 {}

.col--2__flex--2 {}

.col--2__flex--3 {}

.col--2__flex--4 {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
    border-radius: 25px;
}